//顶部按钮条按钮样式
.header-buttons-bar {
  margin: 4px 0;
  button{
    margin-right: 6px;
  }
}


//通用modal模态框样式，需要在modal的配置wrapClassName中加上以下类名
.nomal-modal{
  .ant-modal{
  }
  .ant-modal-content{
    background: none;
  }
  .ant-modal-header{
    padding:8px 24px
  }
  .ant-modal-body{
    overflow: auto;
    background: #fff;
    padding:12px 24px
  }
  .ant-modal-footer{
    background: #fff;
  }

  .ant-modal-close-x{
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
